/* 
   body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-image:url(http://bit.ly/2gPLxZ4);
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica;
    letter-spacing: 0.02em;
     font-weight: 400;
    -webkit-font-smoothing: antialiased; 
   } */
   
h1 {
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    margin-top: 15px;
    margin-bottom: 15px;
}

nav ul li {
    display: inline;
    margin: 200px;
    
}

header nav ul li a {
    text-decoration: none;
    color: #ffffff;    
}

main nav ul li a {
    text-decoration: none;
    color: #ffffff;    
}
/* body {
    background-image: url(https://www.wallpapertip.com/wmimgs/38-382602_3d-animated-backgrounds-wallpaper-best-hd-wallpapers.jpg);
} */
main img { 
    width: 200px;
    display: block;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
}


#intro {
    font-family: cursive;
    text-align: center;
    color: #ffffff;
    margin-top: 100px;
    margin-bottom: 100px;
}

.uni{
    font-family: cursive;
    text-align: center;
    color: #ffffff;
    margin-top: 100px;
    margin-bottom: 100px;
}

.work{
    font-family: cursive;
    text-align: center;
    color: #ffffff;
    margin-top: 100px;
    margin-bottom: 100px;
}

.hobbies {
    font-family: cursive;
    text-align: center;
    color: #ffffff;
    margin-top: 100px;
    margin-bottom: 100px;
}

.funny{
    font-family: cursive;
    text-align: center;
    color: #ffffff;
    margin-top: 100px;
    margin-bottom: 100px;
}
body {
        background-image: url(https://wallpaperaccess.com/full/1415289.jpg);
        background-color: #000000;   
        background-image: 0.5;
    }

.order {
    text-align: center;
    color: #ffffff;
    font-family: cursive;
    margin-top: 100px;
    margin-bottom: 100px;
}

.order2 {
    color: #ffffff;
    font-family: cursive;
    margin-top: 100px;
    margin-bottom: 100px;
    
}

.para {
    text-align: center;
    color: #ffffff;
    font-family: cursive;
    margin-top: 100px;
    margin-bottom: 100px;
}
.unorder {
    color: #ffffff;
    font-family: cursive;
    margin-top: 100px;
    margin-bottom: 100px;
}

footer p {
    text-align: center;
    font-family: cursive;
    color: #ffffff;
    margin-top: 100px;
    margin-bottom: 100px;
}
footer img {
    display: block;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

